@model IEnumerable<CategoryDto>

<div class="types">
    <div class="types--block">
        <div class="types--title">
            <h3>Типи товарів:</h3>
        </div>
        @if (Model.Any())
        {
            foreach (CategoryDto category in Model)
            {
                <div class="type">
                    <p>@category.Name</p>
                    <a asp-area="Admin" asp-controller="Categories" asp-action="One" asp-route-codeword="@category.Name" type="button">Змінити</a>
                    <a asp-area="Admin" asp-controller="Categories" asp-action="Delete" asp-route-id="@category.Id" type="button">Видалити</a>
                </div>
            }
        }
    </div>
    <div class="types--block">
        <div class="types--title">
            <h3>Добавити Тип:</h3>
        </div>
        <div class="types--button">
            <a asp-area="Admin" asp-controller="Categories" asp-action="One" asp-route-codeWord="" type="button">
                Добавити
            </a>
        </div>
    </div>
</div>

@section addButton{
    <div class="create--button"><a asp-controller="Products" asp-action="All" type="button">Повернутися</a></div>
}