<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header+footer.css">
    <link rel="stylesheet" href="css/mainStyle.css">
    <link rel="stylesheet" href="css/asssortment.css">
    <link rel="shortcut icon" href="img//icons/SiteICO.png" type="image/x-icon">
    <title>FITT SHOP</title>
</head>

<body>
    <header>
        <div class="MLhref">
            <a href="index.html"><img class="mainLogo" src="img/MainLogoV3.0.png" alt="cheeseLogo"></a>
        </div>
        <div class="nav">
            <ul class="nav_bar">
                <li class="list__to__show">
                    <div class="our_production_all">
                        <div class="hover_to_show"><a href="index.html" class="our_production">Наша продукція</a>
                            <ul class="nav_hidden">
                                <li>
                                    <a id="linkOfTab">Табурети та столи</a>
                                </li>
                                <li>
                                    <a id="linkOfMat">Матраци</a>
                                </li>
                                <li>
                                    <a id="linkOfBed">Ліжка</a>
                                </li>
                                <li>
                                    <a id="linkOfTum">Тумбочки</a>
                                </li>
                            </ul>
                        </div>
                        <span id="plusik">+</span>
                    </div>
                </li>
                <li><a href="contacts.html">Контакти</a></li>
            </ul>
        </div>
    </header>
    <div>
        <div class="main">
            <div class="presentation">
                <h1>Дерев'яні вироби на ваш смак</h1>
                <p>Табурети, столи, куточки, ліжка, тумбочки та інша продукція
                    <br>Все виготовляється під індивідуальні потреби клієнта</p>
            </div>
            <div class="assortment">
                <h2 id="zagolovok">Весь Асортимент</h2>
                <div class="all__assortment" id="all__assortment">
                    <!-- <div class="goods">
                    <div><img src="img/goods/goods.jpg" alt="goods"></div>
                    <div class="article">
                        <a href="goods.html">
                            <h3>Ясенова табуретка</h3>
                        </a>
                        <p>Розміри: XxYxZ</p>
                        <p>Ціна: 250 грн</p>
                    </div>
                </div> -->
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="contacts">
            <h3>Номер телефону:
            </h3>
            <p><a class="tel" href="tel:+380965474290">+380965474290</a></p>
        </div>
        <div class="contacts">
            <h3>Електронна адреса:</h3>
            <p>fittaras@gmail.com </p>
        </div>
        <div class="contacts copyright">
            <p>&copy; Copyright 2020</p>
        </div>
    </footer>
    <script src="js/clicks.js"></script>
</body>

</html>