<footer>
    <div class="contacts">
        <h3>Номер телефону:
        </h3>
        <p><a class="tel" href="tel:+380965474290">+380965474290</a></p>
    </div>
    <div class="contacts">
        <h3>Електронна адреса:</h3>
        <p>fittaras@gmail.com </p>
    </div>
    <div class="contacts copyright">
        <p>&copy; Copyright 2020</p>
    </div>
</footer>