@section Header {
    <link rel="stylesheet" href="~/css/contacts.css" asp-append-version="true">
}
<div class="foto1"></div>
<div class="info">
    <div class="address">
        <h1>Наша адреса:</h1>
        <p>Село: Павлівка</p>
        <p>Вулиця: Незалежності 23</p>
        <p>Індекс: 45342</p>
        <p>Область: Волинська</p>
        <p>Район: Володимир-Волинський</p>
        <p>Країна: <a target="blank" class="ukr" href="https://uk.wikipedia.org/wiki/%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B0">Україна</a></p>
    </div>
    <div class="maps">
        <h2>Наше розміщення:</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8514.044739975398!2d24.460250743775845!3d50.62264624332611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4724fd3d4bdbe04b%3A0x2c6aaadc1e41976!2z0J_QsNCy0LvRltCy0LrQsCwg0JLQvtC70LjQvdGB0YzQutCwINC-0LHQu9Cw0YHRgtGM!5e0!3m2!1suk!2sua!4v1604795168533!5m2!1suk!2sua"
                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="contact">
        <h2>Зв'язатись з нами:</h2>
        <div class="messengers">
            <div class="icons">
                <a href="viber://chat?number=%2B380965474290">
                    <img src="~/images/icons/viber.png" alt="viber">
                </a>
            </div>
            <div class="icons instagram">
                <a target="blank" href="https://www.instagram.com/fittarasiluda/">
                    <img src="~/images/icons/instagram.png" alt="inst">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="foto2"></div>